
.bodyStyle {
    top: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.aijia {
    margin-left: 0px;
    background: #B490B9;
    padding: 10px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Side Bar */
.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    font-size: 18px;
    min-width: 190px;
    max-width: 250px;
    background: #B490B9;
    color: black;
    transition: all 0.3s;
    //border-right: 1px solid black;
}

#sidebar .active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 0px;
    padding-left: 10px;
    color: white;
    
}

#sidebar ul.components {
    padding: 18px 0;
    font-size: 20px;
   // border-right: 1px solid black;

}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    color: black;
    background: #B490B9;
}


#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color: white;
    background: #B490B9;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #B490B9;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


