
.btnCreate {
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 5px;
    border: 0px;
}

.buttonMargin {
    margin-left: 20px;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    
}

.formCreate{
    margin-top:  50px;
}

.formCreatePad {
    padding: 30px;
}


.titleStyle {
    margin-bottom: 4px;
}

