@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right icon">
            <li>
                <a href="/Manage/Index" title="Manage" style="margin-bottom:8px;">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Mon Compte</span>
                </a>
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right icon">

        <li>
            <a href="/Account/Login" title="Manage">
                <span class="glyphicon glyphicon-user"></span>
                <span>Connexion</span>
            </a>
        </li>
    </ul>
}
