@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

            <a href="/Manage/Index" title="Manage">
                <span class="glyphicon glyphicon-user"></span>
                <span>Mon Compte</span>
            </a>   
          
    }
}
else
{
    <a href="/Account/Login" title="Manage">
        <span class="glyphicon glyphicon-user"></span>
        <span>Connexion</span>
    </a>
}
