@model List<AIJIA.Models.Article>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="row product-container">
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:300px;">
            <img class="img-responsive" title="Click to View Product Detail"
                 style="cursor:pointer;height:160px;width:260px;"
                 src="~/Images/cafe.jpg" />
            <div class="caption">
                <p>Cyber Café</p>
                <p>249€</p>
                <button>Ajouter au Panier</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:300px;">
            <img class="img-responsive" title="Click to View Product Detail"
                 style="cursor:pointer;height:160px;width:260px;"
                 src="~/Images/chair.jpg" />
            <div class="caption">
                <p>Chaise Britanique</p>
                <p>299€</p>
                <button>Ajouter au Panier</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:300px;">
            <img class="img-responsive" title="Click to View Product Detail"
                 style="cursor:pointer;height:160px;width:260px;"
                 src="~/Images/tables.jpg" />
            <div class="caption">
                <p>Table à Manger</p>
                <p>679€</p>
                <button>Ajouter au Panier</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:300px;">
            <img class="img-responsive" title="Click to View Product Detail"
                 style="cursor:pointer;height:160px;width:260px;"
                 src="~/Images/sofa.jpg" />
            <div class="caption">
                <p>Canapé</p>
                <p>1499€</p>
                <button>Ajouter au Panier</button>
            </div>
        </div>
    </div>
</div>*@
<div class="row product-container">
    @foreach (var item in Model)

    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
            <a href="@Url.Action("Details", "Articles", new { id = item.ArticleId })">
                <div class="thumbnail product-item" style="height:300px;">
                    @{
                        string image = item.Description + ".jpg";
                    }
                    <img class="img-responsive" title="Click to View Product Detail"
                         style="cursor:pointer;height:160px;width:260px;"
                         src="~/Images/@image" />
                    <div class="caption">
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Price)€</p>
                        <button>Ajouter au Panier</button>
                    </div>
                </div>
            </a>
        </div>
    }
</div>