
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin</h2>

<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>
<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>

<h3>Mon Bureau De Travail</h3>
<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>
<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>
<h3>Mon Bureau De Travail</h3>
<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>
<p>
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
    Les résultats de l’expérience montrent qu’une grande partie des fourmis choisissent le chemin le plus court grâce à la quantité de phéromone laissée par les précédentes
    fourmis ayant empruntées ce chemin, ce qui permet de constater une certaine forme
</p>