@model AIJIA.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>
<div class="row content">
    @{
        string image = @Model.Description + ".jpg";
    }
    <div class="col-md-6">
        <img class="img-responsive" title="Click to View Product Detail"
             style="cursor:pointer;height:300px;width:450px;"
             src="~/Images/@image" />
    </div>
    <div class="col-md-5 col-md-offset-1">
        <p class="article_title">@Model.Name</p>
        <p class="article_mark"> @Model.Mark.Name</p>
        <p class="article_price">@Model.Price € <small style="font-size:20px;">dont TVA</small></p>
        <hr />
        <p class="livre"> Livré sous 48h</p>
        @using (Html.BeginForm("AddToCartDetails", "Home", new { ArticleId = Model.ArticleId }, FormMethod.Post))
        {
            <p>Quantity: <input type="number" id="Quantity" name="Quantity" value="1" min="1" max="10"></p>

            <button type="submit" class="btn-submit">Ajouter au Panier</button>
        }


    </div>
</div>


